venv/
env/
bin/
etc/
include/
lib/
pyenv.cfg
share/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

.ipynb_checkpoints/

logs/
*.log
*.tmp
*.swp

 
src/.env      

.vscode/
.idea/
*.iml

.streamlit/
